* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
  }
  a{
    text-decoration: none; 
    color: black;
  }
  
  .nav {
    display: flex;
    align-items: center;
    background-color: rgba(23, 33, 50, 255);
    height: 80px;
    position:fixed;
    top: 0;
    width: 100%;
    z-index:1;
   
  }
  
  .cont {
    display: flex;
    width: 650px;
    margin-left: 80px;
    height: 100%;
  }
  .cont {
    text-align: center;
    width: 90%;
    margin-left: 8.5rem;
  }
  .cont > div:nth-child(1) {
    width: 120px;
  }
  
  .logo {
    margin-left: 17rem;
  }
  .navdiv {
    padding: 20px 16px;
  }
  
  
  .navdiv p {
    font-size: 15px;
    color:white;
    font-size: 10px;
    
    
    }
    .navdiv img {
    width:1.3rem;
    
    }
    .navdiv:hover{
        background-color:rgb(105, 117, 143);
    }

  
