.container{
    width: 700px;
    height: 250px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    margin-top: 10px;

}
.firstChild{
    width: 40%;
    height: 100%;
    border: 1px solid green;
}

.secondChild{
    width: 58%;
    height: 100%;
    /* border: 1px solid blue; */
    margin-left: 2%;
    
}
.secondChild h3{
    justify-content: none;
}