
.container{
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    margin-top: 10px;
    /* background-color:rgb(255, 255, 255) */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.firstChild{
    width: 40%;
    height: 100%;
    /* border: 1px solid green; */
   
}

.secondChild{
    width: 58%;
    height: 100%;
    /* border: 1px solid blue; */
    margin-left: 2%;
    font-family: sans-serif;
    text-decoration: none;
    
}
.secondChild h3{
    justify-content: none;
    font-family: sans-serif;
    size: 16px;
    color: #141b2f;
    font-weight: 600;
    
}