.mainBox{
    width: 850px;
    min-height: auto;
    /* border: 1px solid red; */
    margin: auto;
}
.dateBox{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    height: 30px;
    /* border: 1px solid tomato; */
}
.info{
    width: 65%;
    /* border: 1px solid blue; */
    /* text-align: justify;
    text-justify: inter-word; */
    line-break: normal;
    line-height: 24px;
    font-family: sans-serif;
}
.subBox{
    margin-top: 0px;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke; */
    
}
.articles h3{
    margin-left: 10px;
    margin-top: 0px;
    font-family: sans-serif;
    color: #141b2f;
}

.articles hr{
    width: 200px;
    color: #141b2f;
}